body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 15px;
}

main {
    padding: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #777;
}
